---
import BackToPrev from "@components/BackToPrev.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { getLangFromFilePath, getLangFromUrl } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";
import { readingTime } from "@lib/utils";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const currentFilePath = import.meta.url;

  const fileLang = getLangFromFilePath(currentFilePath);

  const pages = await getCollection("blog");

  const paths = pages
    .filter((page: { id: string }) => page.id.startsWith(`${fileLang}/`))
    .map((page: { id: string }) => {
      const pathParts = page.id.split("/");
      const lang = pathParts[0];
      const slug = pathParts[1];

      return {
        params: { lang, slug },
        props: page,
      };
    });

  return paths;
}

const url = Astro.url;
const lang = getLangFromUrl(url); // Detecta o idioma da URL
const page = Astro.props;

const post = Astro.props;
type Props = CollectionEntry<"blog">;

const { Content } = await page.render();
---

<PageLayout
  title={post.data.title}
  description={post.data.description}
  enableComments={true}
>
  <Container pagefindBody={true}>
    <div class="animate">
      <BackToPrev href=`/${lang}/blog`> Back to blog </BackToPrev>
    </div>
    <div class="my-10 space-y-1">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
      </div>
      <div
        data-pagefind-meta="title"
        class="animate font-serif text-2xl font-semibold text-black dark:text-white"
      >
        {post.data.title}
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>
