---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { getLangFromSlug, getLangFromUrl } from "../../i18n/utils";

const url = Astro.url;
const lang = getLangFromUrl(url);

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft && getLangFromSlug(post.slug) == lang)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(
    (project) => !project.data.draft && getLangFromSlug(project.slug) == lang,
  )
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h2 class="animate font-semibold text-black dark:text-white">
      Welcome to my Blog!
    </h2>
    <div class="space-y-16">
      <!-- Intro -->
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm Thomaz Pougy and in this space the goal is to delve into
            interesting topics about programming, software engineering as well
            as other cool and useful tech stuff (cof cof excel tips).
          </p>
          <p class="animate">
            Comments, suggestions for posts and feedback for the blog are
            welcome!
          </p>
        </article>
      </section>

      <!-- Blog -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h5 class="font-semibold text-black dark:text-white">Last posts</h5>
          <Link href=`/${lang}/blog`> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- Projects -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href=`/${lang}/projects`> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- Social -->
      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Contact</h5>
        <article>
          <p>
            If you want to get in touch with me for any reason feel free to
            contact me via social media or e-mail.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
