---
const { comment, showReplyForm = false, isChild = false } = Astro.props;
---

<div
  class={`my-4 ${isChild ? "pl-4 border-l-2 border-color-gray-200" : ""} cusdis-indicator`}
>
  <div class="flex items-center">
    <div class="mr-2 font-medium dark:text-gray-100">
      {
        comment.moderator && comment.moderator.displayName
          ? comment.moderator.displayName
          : comment.by_nickname
      }
    </div>

    {
      comment.moderatorId && (
        <div class="mr-2 rounded bg-gray-200 px-1 py-0.5 text-xs dark:bg-gray-500 dark:text-gray-100">
          <span>{t("mod_badge")}</span>
        </div>
      )
    }
  </div>

  <div class="text-sm text-black/50 dark:text-gray-400">
    {comment.parsedCreatedAt}
  </div>

  <div class="my-2 text-black dark:text-gray-200">
    <div innerHTML={comment.parsedContent}></div>
  </div>

  {
    comment.replies.data.length > 0 &&
      comment.replies.data.map((child) => (
        <Comment isChild={true} comment={child} />
      ))
  }

  <div>
    <button
      class="group relative rounded border border-black/15 pb-1 pl-5 pr-1 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white"
      type="button"
      onClick={() => (showReplyForm = !showReplyForm)}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="absolute left-1 top-1/2 h-4 w-4 -translate-y-1/2 fill-none stroke-current stroke-2"
      >
        <circle
          cx="12"
          cy="12"
          r="3"
          class="origin-center scale-100 transform fill-current text-white transition-transform duration-300 ease-in-out group-hover:scale-0"
        ></circle>
        <path
          d="M10 7l-3 3l3 3"
          class="transition-[stroke-dashoffset] duration-300 ease-in-out [stroke-dasharray:10] [stroke-dashoffset:10] group-hover:[stroke-dashoffset:0]"
        ></path>
        <path
          d="M17 13v-1a2 2 0 0 0-2-2H7"
          class="transition-[stroke-dashoffset] delay-150 duration-300 ease-in-out [stroke-dasharray:20] [stroke-dashoffset:20] group-hover:[stroke-dashoffset:0]"
        ></path>
      </svg>
      <div class="font-serif text-sm font-bold">
        {t("reply_btn")}
      </div>
    </button>
  </div>

  {
    showReplyForm && (
      <div class="mt-4 border-l-2 border-gray-200 pl-4">
        <CommentReply
          parentId={comment.id}
          onSuccess={() => (showReplyForm = false)}
        />
      </div>
    )
  }
</div>
