---
import { getLangFromSlug, getPureSlug } from "@i18n/utils";
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props;
---

<a
  href={`/${getLangFromSlug(entry.slug)}/${entry.collection}/${getPureSlug(entry.slug)}/`}
  class="group relative flex flex-nowrap border border-black px-4 py-3 pr-10 hover:bg-black hover:text-white dark:border-white dark:hover:bg-white dark:hover:text-black"
>
  <div class="flex flex-1 flex-col truncate">
    <div class="font-serif font-semibold">
      {entry.data.title}
    </div>
    <div class="text-sm">
      {entry.data.description}
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="group-hover:scale-x-100"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
    ></polyline>
  </svg>
</a>
