---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-serif text-lg font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <div class="ml-4 mt-0.5">
        <LanguagePicker />
      </div>

      <nav class="ml-auto mt-0.5 flex gap-1">
        <div class="mr-6 mt-0.5">
          <Link href=`/${lang}/search/`>
            <Icon name="line-md:search" size={20} />
          </Link>
        </div>
        <Link href=`/${lang}/blog/`>
          {t("header.blog")}
        </Link>
        <span>
          {`/`}
        </span>
        <Link href=`/${lang}/projects/`>
          {t("header.projects")}
        </Link>
      </nav>
    </div>
  </Container>
</header>
