---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  enableComments?: boolean;
};

const { title, description, enableComments = false } = Astro.props;

import { getLangFromUrl } from "../i18n/utils.ts";

const url = Astro.url;
const id = Astro.url.pathname;
const lang = getLangFromUrl(url);
const userTheme = localStorage.getItem("theme");
const darkTheme =
  userTheme === "dark" ||
  (userTheme === "system" &&
    window.matchMedia("(prefers-color-scheme: dark)").matches)
    ? "dark"
    : "light";
---

<!doctype html>
<html lang={lang} data-theme={darkTheme == "dark" ? "dracula" : "github-light"}>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer
      enableComments={enableComments}
      pageTitle={title}
      pageUrl={url.toString()}
      pageId={id}
    />
  </body>
</html>
